@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-base: #937c6c;
    --color-primary: #FAF4ED;
    --color-secondary: #2F2A25;
    --color-accent: #B4637A;
    --color-olive: #7F8B49;
}

/* @container {

} */

@layer base {
    * {
        box-sizing: border-box;
    }

    button {
        cursor: pointer;
    }

    /* Markdown content styles */
    .wmde-markdown {
        @apply p-6;
    }

    .wmde-markdown::after {
        background-color: aliceblue;
    }

    /* .wmde-markdown-color {
        @apply bg-red-900;
        
    } */
}

@layer components {
    .styled-scrollbar::-webkit-scrollbar {
        height: 8px;
    }

    .styled-scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-accent);
        /* indigo-500 */
        border-radius: 6px;
    }

    .styled-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

}