@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-base: #937c6c;
    --color-primary: #FAF4ED;
    --color-secondary: #2F2A25;
    --color-accent: #B4637A;
    --color-olive: #7F8B49;
}

/* @container {

} */

@layer base {
    * {
        box-sizing: border-box;
    }

    button {
        cursor: pointer;
    }
}