@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-base: #937c6c;
    --color-primary: #FAF4ED;
    --color-secondary: #2F2A25;
    --color-accent: #B4637A;
    --color-olive: #7F8B49;
	--color-code: #161b22;
    ---breakpoint-xs: 20rem;
    --breakpoint-3xl: 128rem;
}

/* @container {

} */

@layer base {
    * {
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
        font-family: 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    }

    button, input {
        @apply cursor-pointer font-medium;
    }


}

@layer components {
    .coffee {
        @apply fill-base;
    }

    .styled-scrollbar::-webkit-scrollbar {
        height: 0px;
    }

    .styled-scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-accent);
        /* indigo-500 */
        border-radius: 6px;
    }

    .styled-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Markdown content styles */
    .wmde-markdown>ul>li {
        list-style-type: disc;
    }

    .wmde-markdown>ol>li {
        list-style-type: decimal;
    }

    .wmde-markdown img {
        @apply !max-w-80 md:!max-w-125 rounded-md !block my-6 mx-auto;
    }

    .wmde-markdown-color {
        @apply !bg-inherit dark:!text-primary !text-secondary;

    }

	.wmde-markdown-color > pre {
		@apply !bg-accent/15 dark:!bg-code;
	}

    .language-markdown {
        @apply !w-full;
    }

}